/* services app and contact forms */

.container, header-container-fluid {
    height: 100vh;
    background: url("../media/shine-bus.jpg") no-repeat bottom right fixed;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
}


.label, contact-form {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: 700;
}