   @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900) 

/*--  About-Page -------------------------------------------------- */



margin {
    width:1200px;
    left:auto;
    right:auto;
    top: 0;
    bottom:0;
   
}
<<<<<<< HEAD
/*--- dropdown-menu styles ---*/

.navbar-nav .mr-auto ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

.active .nav-item .mr-2 li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/*--  Change the link color on hover -------*/

.nav-link li a:hover {
    background-color: #555;
    color: #fff;
}

li a.active {
    background-color: #4CAF50;
    color: #fff;
}

li a:hover:not(.active) {
    background-color: #555;
    color: #fff;
}


/*--  Container-wrappers   ----*/

.container-wrapper {
    background-color: #fff;
}

.container-wrapper--red {
    background-color: #f05f40;
    color: #fff;
}

.container-wrapper--pale {
    background-color: #fbe7e2;
}

/*-- Image Containers - creates a scroll flexible background ------*/

.callout-container  {
    height: 100vh;
    background: url("../earth.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.media img {
    height: 150px;
    object-fit: contain;
    min-height: 100%;
    max-height: none;
    border-radius: 15% 15% 15% 15% / 10% 10% 10% 10%;
}
=======
>>>>>>> 758975207df4d7edb7fb1449854f4b7b26a6af0c


/*-- Content-container --*/

.content-container {
    padding-top: 65px;
    padding-bottom: 75px;
    margin: 35px;
}

.container-fluid .about-container {
    padding-top: 35px;
    padding-bottom: 20px;
}


.container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
}



/*--- dropdown-menu styles ---*/


/*--- calculator --------------------------------------------------------*/

/* css code taken and copied from https://codepen.io/mcndubuisi/pen/Kqzpvz */ 
body {
  background-color: #888;
}

table {
  margin: auto;
  background-color: #222;
  width: 295px;
  max-width: 295px;
  height: 325px;
  text-align: center;
  border-radius: 4px;
  padding-right: 10px;
}

input {
  outline: 0;
  position: relative;
  left: 5px;
  top: 5px;
  border: 0;
  color: #495069;
  background-color: #fff;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: 0 4px rgba(0,0,0,0.2);
  margin-bottom: 15px;
}

input:hover {
  border: 0 solid #000;
  color: #495069;
  background-color: #fff;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: 0 4px #b0d2cf;
}

input:active {
  top: 4px;
  border: 0 solid #000;
  color: #495069;
  background-color: #fff;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: none;
}

#display {
  width: 265px;
  max-width: 270px;
  font-size: 26px;
  text-align: right;
  background-color: #bcbd95;
  float: left;
}

#display:hover {
  width: 270px;
  font-size: 26px;
  text-align: right;
  background-color: #bcbd95;
  box-shadow: 0 4px rgba(0,0,0,0.2);
}

#display:active {
  top: 5px;
  width: 270px;
  font-size: 26px;
  text-align: right;
  background-color: #bcbd95;
  box-shadow: 0 4px rgba(0,0,0,0.2);
}

.operator {
  background-color: #cee9ea;
  position: relative;
}

.operator:hover {
  background-color: #cee9ea;
  box-shadow: 0 4px #b0d2cf;
}

.operator:active {
  top: 4px;
  box-shadow: none;
}

#clear {
  float: left;
  position: relative;
  display: block;
  background-color: #ff9fa8;
}

#clear:hover {
  float: left;
  display: block;
  background-color: #F297A0;
  margin-bottom: 15px;
  box-shadow: 0 4px #CC7F86;
}

#clear:active {
  float: left;
  top: 4px;
  display: block;
  background-color: #F297A0;
  margin-bottom: 15px;
  box-shadow: none;
}




