{{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block page_header %}
{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black, main-header.style">
                    About Us
                </h1>
            </div>
        </div>
    </div>
{% endblock %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="row">
        <h2>About Us</h2>
    </div>
    <div>
        <div class = "lead">We are a niche marketing business with the aim of shining in a fast pace world. 
        </div> 
            <div>
                <p>We thrive on bringing out the best results for our clients
                   and positively blaze on the internet, social media and beyond!
                </p>
            </div>    
                <div class= "row">
                    <div class= "col">
                        <h3>Contact us now to discuss your requirements</h3>
                    </div>
                </div> 
            </div>
        <div>
    </div>    
{% endblock %}
