{% extends "base.html" %}
<!-- {% load static %} -->S

{% block extra_css %}SS
<!-- Bootstrap extra clean-blog for services app -->
<link rel="stylesheet" href="{ url_for('services/static', filename='services/css/clean-blog.min.css') }" >
<link rel="stylesheet" href="{ url_for('services/static', filename='services/css/clean-blog.css') }" >
<link rel="stylesheet" href="{ url_for('services/static', filename='services/css/services.css') }" >
<link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block extra_js %}
<!-- Bootstrap extra JavaScript for services app -->
    <script src="{ url_for('services/static', filename='vendor/jquery/jquery.min.js') }"></script>
    <script src="{ url_for('services/static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }"></script>
    <!-- Custom scripts for services template -->
    <script src="{ url_for('services/static', filename='js/clean-blog.min.js') }"></script>
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid callout-container h-100">
        <div class="opaque-overlay">&nbsp;</div>
            <!-- Callout -->
        <div class="row h-100">
            <div class="col-xs-12">
    <div class="callout jumbotron text-center, jumbotron-bg">
        <div class="card" style="width: 85 rem, center;">
        <img class="card-img-top" src="(image_url{ shine-bus.jpg })"
        <div class="card-text">
            <h5 class="card-title">KUK marketing</h5>
            <p class="card-text">KUK takes business on line and shine!</p>
            <p class="lead">Shine your business today!</p>
        </div>
        <div class="card-text">
            <p class="text-muted"><medium>Sign up for shining news!</medium></p>
            <p><button class="btn btn-lg btn--cta btn--red" data-toggle="modal" data-target="#signUpModal">Sign Up!</button></p>
        </div>
        <div class="row">
            <h3>About Us</h3>
        </div>
        <div>
            <div class = "lead">We are a niche marketing business with the aim of shining in a fast pace world. 
            </div> 
                <div>
                    <p>We thrive on bringing out the best results for our clients
                    and positively blaze on the internet, social media and beyond!
                    </p>
                </div>    
                    <div class= "row">
                        <div class= "col">
                            <h3>Contact us now to discuss your requirements</h3>
                        </div>
                    </div> 
                </div>
            <div>
        </div>
    </div>        
{% endblock %}
