{% extends "base.html" %}
{% load static %}

{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black, main-header.style">
                    Shine Your Business
                </h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_page %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Our Brands</h2>
                <hr>
            </div>
        </div>

        <!-- end header -->
        <div class="col-7 col-md-6 my-auto">
            <h1 class="displayI-4 logo-font text-black, main-header.style">
                    Shine Your Business
                </h1>
            </div>
        </div>
{% endblock %}

