{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block extra_js %}
    <link rel="stylesheet" href="{% static 'services/calculator/calculator.js' %}">
{% endblock %}
{% block page-header %}
    <div class="container">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
            </div>
            <div>
                <div>
                    <div>            
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Use a calculator here</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Gage your busiess</h6>
                                <p class="card-text">Use our on-line calculator to work out your costings</p>
                                <a href="#" class="card-link"></a>
                                <a href="#" class="card-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
{% endblock %}
  

