{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h4 class="display-4 logo-font text-black, main-header.style">
                   Contact Us
                </h4>
                 <!-- form requirements-start-->
                <form class="contact-us">
                    <div class="control-group-requirements">
                        <div class="form-group-requirements floating-label-form-group controls">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name" name="name" id="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="form-group-requirements">
                        <label for="contactFormControlInput1">Email address</label>
                        <input type="email" class="form-control" id="contactFormControlInput1" placeholder="email address" email="email" required data-validation-required-message="Please enter your email address.">
                        <p class="help-block text-danger"></p>>
                    </div>
                    <div class="form-group-requirements">
                        <label for="contactFormControlSelect1">Select a Package</label>
                        <select class="form-control" id="contactFormControlSelect1">
                        <option> Premuim Marketing(incudes website development</option>
                        <option> Branding and Logos</option>
                        <option> Graphic Design</option>
                        <option> Products Only</option>
                        <option> Advertising</option>
                        </select>
                    </div>
                    <div class="form-group-requirements">
                        <label for="contactFormControlTextarea1">Please enter your requirements and let us choose the best fit</label>
                        <textarea class="form-control" id="contactFormControlTextarea1" rows="10"></textarea>
                        <br>
                        <div id="requirements-success">
                            <div class="form-group-requirements">
                            <button type="submit" class="btn btn-black" id="sendMessageButton">Submit here</button>
                            <form method="get, post" action="{% url '' confirmation.key %}">
                        {% csrf_token %}
                        {% endblock %}
                        <!--   form requirements-end    -->  
                        <h4 class="text-black">
                            Want to send us an Enquiry instead? 
                        </h4>
                        <p>Just fill out the form below and we will contact you pronto!</p>
                        
                         <!-- form-start-enquiry  -->   
                        <div class="control-group-enquiry">
                            <div class="form-group-enquiry">
                                <div class="form-group-enquiry floating-label-form-group controls">
                                    <label>Name</label>
                                    <input type="text" class="form-control" placeholder="Name" name="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                                <div class="form-group-enquiry floating-label-form-group controls">
                                    <label>Please send an Enquiry</label>
                                    <textarea rows="5" class="enquiry-form-control" placeholder="Enquiry" name="enquiry" id="enquiry" required data-validation-required-enquiry="Please enter enquiry here."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>  
                            </div>
                        <br>
                        <div id-form="enquiry-success"></div>
                        <div class="form-group-enquiry">
                            <button type="submit" class="btn btn-black" id="sendEnquiryButton">Submit here</button>
                            <form method="get, post" action="{% url 'account_confirm_enquiry' confirmation.key %}">
                        {% csrf_token %}
                </form>
            </div>
 
