{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}
{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black, main-header.style"></h1>
                <div class="card bg-dark text-white">
                    <img class="card-img" src="static/images/home-bg.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Our Brands</h5>
                        <p class="card-text">What we do  - we want to shine in a fast pace world.
                        </p>
                        <p class="card-text">We thrive on bringing out the best results for our clients
                        and positively blaze on the internet, social media and beyond!
                        </p>
                    </div>
                <div class="row">
            <div class="col">Contact us now to discuss your requirements</div>
        </div>
    </div>
{% endblock %}
